<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExcelDna.Integration" version="0.34.6" targetFramework="net45" />
  <package id="ExcelDna.IntelliSense" version="1.1.0" targetFramework="net45" />
  <package id="ExcelDna.Registration" version="0.34.7" targetFramework="net45" />
  <package id="ExcelDna.RibbonFluent" version="1.0.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net45" />
</packages>