[submodule "src/connector/go"]
	path = src/connector/go
	url = https://github.com/taosdata/driver-go
[submodule "src/connector/grafanaplugin"]
	path = src/connector/grafanaplugin
	url = https://github.com/taosdata/grafanaplugin
[submodule "tests/examples/rust"]
	path = tests/examples/rust
	url = https://github.com/songtianyi/tdengine-rust-bindings.git
[submodule "src/connector/hivemq-tdengine-extension"]
	path = src/connector/hivemq-tdengine-extension
	url = https://github.com/huskar-t/hivemq-tdengine-extension.git