src/TDengineDriver/bin/
src/TDengineDriver/obj/
src/test/FunctionTest/bin/
src/test/FunctionTest/obj/
src/test/XUnitTest/bin/
src/test/XUnitTest/obj/
src/test/doc/
NugetPackTest/
examples/bin/
examples/obj/
.vs
