<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.15" targetFramework="net472" />
  <package id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.9" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.9" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.9" targetFramework="net472" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net472" />
  <package id="Microsoft.Owin.Cors" version="4.2.2" targetFramework="net472" />
  <package id="Microsoft.Owin.FileSystems" version="4.2.2" targetFramework="net472" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.2.2" targetFramework="net472" />
  <package id="Microsoft.Owin.Hosting" version="4.2.2" targetFramework="net472" />
  <package id="Microsoft.Owin.StaticFiles" version="4.2.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Ninject" version="3.3.4" targetFramework="net472" />
  <package id="Ninject.Web.Common" version="3.3.2" targetFramework="net472" />
  <package id="Ninject.Web.Common.Owin" version="3.3.2" targetFramework="net472" />
  <package id="Ninject.Web.WebApi" version="3.3.1" targetFramework="net472" />
  <package id="Ninject.Web.WebApi.OwinSelfHost" version="3.3.1" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net472" />
  <package id="Tomlyn" version="0.16.2" targetFramework="net472" />
</packages>