<log4net>
<appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
	<target value="Console.Error" />
	<mapping>
		<level value="ERROR" />
		<foreColor value="White" />
		<backColor value="Red, HighIntensity" />
	</mapping>
	<layout type="log4net.Layout.PatternLayout">
		<conversionPattern value="%date{MM/dd HH:mm:ss.fff} %property{pid} %-5level %logger - %message%newline" />
	</layout>
  </appender>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="Logs\%property{applicationName}-log-" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyy-MM-dd'.txt'" />
    <maximumFileSize value="10MB" />
    <maxSizeRollBackups value="10" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{MM/dd HH:mm:ss.fff} %property{pid} %-5level %logger - %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="INFO" />
	<appender-ref ref="ColoredConsoleAppender" />
    <appender-ref ref="RollingFileAppender" />
  </root>
</log4net>