[Unit]
Description=TaosANode Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=PATH=/var/lib/taos/taosanode/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/var/lib/taos/taosanode/venv/bin/uwsgi /usr/local/taos/taosanode/cfg/taosanode.ini
ExecStop=/var/lib/taos/taosanode/venv/bin/uwsgi --stop /usr/local/taos/taosanode/taosanode.pid
TimeoutStartSec=0
TimeoutStopSec=120s
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
StandardOutput=null
Restart=always
StartLimitBurst=6
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target