../script/test.sh -f lite/account/pass_alter.sim
../script/test.sh -f lite/account/pass_len.sim
../script/test.sh -f lite/account/user_create.sim
../script/test.sh -f lite/account/user_len.sim
../script/test.sh -f lite/account/monitor.sim

../script/test.sh -f lite/agg/fill.sim
../script/test.sh -f lite/agg/stream.sim

../script/test.sh -f lite/alter/count.sim
../script/test.sh -f lite/alter/cached_schema_after_alter.sim
../script/test.sh -f lite/alter/import.sim
../script/test.sh -f lite/alter/insert1.sim
../script/test.sh -f lite/alter/insert2.sim
../script/test.sh -f lite/alter/metrics.sim
../script/test.sh -f lite/alter/table.sim

../script/test.sh -f lite/cache/restart_table.sim
../script/test.sh -f lite/cache/restart_metrics.sim
../script/test.sh -f lite/cache/restart_stream.sim
../script/test.sh -f lite/cache/new_metrics.sim
../script/test.sh -f lite/cache/new_stream.sim

../script/test.sh -f lite/column/table.sim
../script/test.sh -f lite/column/metrics.sim
../script/test.sh -f lite/column/stream.sim
../script/test.sh -f lite/column/commit.sim

../script/test.sh -f lite/compress/compress.sim
../script/test.sh -f lite/compress/uncompress.sim
../script/test.sh -f lite/compress/commitlog.sim
../script/test.sh -f lite/compress/compress2.sim

../script/test.sh -f lite/compute/count.sim
../script/test.sh -f lite/compute/avg.sim
../script/test.sh -f lite/compute/sum.sim
../script/test.sh -f lite/compute/min.sim
../script/test.sh -f lite/compute/max.sim
../script/test.sh -f lite/compute/first.sim
../script/test.sh -f lite/compute/last.sim
../script/test.sh -f lite/compute/stddev.sim
../script/test.sh -f lite/compute/leastsquare.sim
../script/test.sh -f lite/compute/top.sim
../script/test.sh -f lite/compute/bottom.sim
../script/test.sh -f lite/compute/percentile.sim
../script/test.sh -f lite/compute/diff.sim
../script/test.sh -f lite/compute/interval.sim
../script/test.sh -f lite/compute/null.sim
../script/test.sh -f lite/compute/diff2.sim

../script/test.sh -f lite/db/basic.sim
../script/test.sh -f lite/db/len.sim
../script/test.sh -f lite/db/delete_reuse1.sim
../script/test.sh -f lite/db/delete_reuse2.sim
../script/test.sh -f lite/db/delete_writing1.sim
../script/test.sh -f lite/db/delete_writing2.sim

../script/test.sh -f lite/field/single.sim
../script/test.sh -f lite/field/bool.sim
../script/test.sh -f lite/field/smallint.sim
../script/test.sh -f lite/field/tinyint.sim
../script/test.sh -f lite/field/int.sim
../script/test.sh -f lite/field/bigint.sim
../script/test.sh -f lite/field/float.sim
../script/test.sh -f lite/field/double.sim
../script/test.sh -f lite/field/binary.sim
../script/test.sh -f lite/field/2.sim
../script/test.sh -f lite/field/3.sim
../script/test.sh -f lite/field/4.sim
../script/test.sh -f lite/field/5.sim
../script/test.sh -f lite/field/6.sim

../script/test.sh -f lite/http/grafana.sim
../script/test.sh -f lite/http/restful.sim
../script/test.sh -f lite/http/restful_full.sim
../script/test.sh -f lite/http/telegraf.sim
../script/test.sh -f lite/http/prepare.sim

../script/test.sh -f lite/import/basic.sim
../script/test.sh -f lite/import/large.sim
../script/test.sh -f lite/import/replica1.sim

../script/test.sh -f lite/insert/basic.sim
../script/test.sh -f lite/insert/insert_drop.sim
../script/test.sh -f lite/insert/query_block1_memory.sim
../script/test.sh -f lite/insert/query_block2_memory.sim
../script/test.sh -f lite/insert/query_block1_file.sim
../script/test.sh -f lite/insert/query_block2_file.sim
../script/test.sh -f lite/insert/query_file_memory.sim
../script/test.sh -f lite/insert/query_multi_file.sim

../script/test.sh -f lite/metrics/disk.sim
../script/test.sh -f lite/metrics/metrics.sim
../script/test.sh -f lite/metrics/values.sim
../script/test.sh -f lite/metrics/vnode3.sim

../script/test.sh -f lite/parser/alter.sim
../script/test.sh -f lite/parser/alter1.sim
../script/test.sh -f lite/parser/alter_stable.sim
../script/test.sh -f lite/parser/auto_create_tb.sim
../script/test.sh -f lite/parser/auto_create_tb_drop_tb.sim
../script/test.sh -f lite/parser/col_arithmetic_operation.sim
../script/test.sh -f lite/parser/columnValue.sim
../script/test.sh -f lite/parser/commit.sim
../script/test.sh -f lite/parser/create_db.sim
../script/test.sh -f lite/parser/create_mt.sim
../script/test.sh -f lite/parser/create_tb.sim
../script/test.sh -f lite/parser/dbtbnameValidate.sim
../script/test.sh -f lite/parser/fill.sim
../script/test.sh -f lite/parser/fill_stb.sim
../script/test.sh -f lite/parser/first_last.sim
../script/test.sh -f lite/parser/import_commit1.sim
../script/test.sh -f lite/parser/import_commit2.sim
../script/test.sh -f lite/parser/import_commit3.sim
../script/test.sh -f lite/parser/insert_tb.sim
../script/test.sh -f lite/parser/interp.sim
../script/test.sh -f lite/parser/lastrow.sim
../script/test.sh -f lite/parser/limit.sim
../script/test.sh -f lite/parser/limit1.sim
../script/test.sh -f lite/parser/limit1_tblocks100.sim
../script/test.sh -f lite/parser/limit2.sim
../script/test.sh -f lite/parser/mixed_blocks.sim
../script/test.sh -f lite/parser/nchar.sim
../script/test.sh -f lite/parser/null_char.sim
../script/test.sh -f lite/parser/selectResNum.sim
../script/test.sh -f lite/parser/select_across_vnodes.sim
../script/test.sh -f lite/parser/select_from_cache_disk.sim
../script/test.sh -f lite/parser/set_tag_vals.sim
../script/test.sh -f lite/parser/single_row_in_tb.sim
../script/test.sh -f lite/parser/slimit.sim
../script/test.sh -f lite/parser/slimit1.sim
../script/test.sh -f lite/parser/slimit_alter_tags.sim
../script/test.sh -f lite/parser/stream_on_sys.sim
../script/test.sh -f lite/parser/stream.sim
../script/test.sh -f lite/parser/tbnameIn.sim
../script/test.sh -f lite/parser/where.sim
../script/test.sh -f lite/parser/join.sim
../script/test.sh -f lite/parser/projection_limit_offset.sim
../script/test.sh -f lite/parser/select_with_tags.sim

../script/test.sh -f lite/stream/stream_1.sim
../script/test.sh -f lite/stream/stream_2.sim
../script/test.sh -f lite/stream/stream_3.sim
../script/test.sh -f lite/stream/stream_restart.sim
../script/test.sh -f lite/stream/table_1.sim
../script/test.sh -f lite/stream/metrics_1.sim
../script/test.sh -f lite/stream/table_n.sim
../script/test.sh -f lite/stream/metrics_n.sim
../script/test.sh -f lite/stream/table_del.sim
../script/test.sh -f lite/stream/metrics_del.sim
../script/test.sh -f lite/stream/table_replica1_vnoden.sim
../script/test.sh -f lite/stream/metrics_replica1_vnoden.sim

../script/test.sh -f lite/table/table.sim
../script/test.sh -f lite/table/vgroup.sim
../script/test.sh -f lite/table/limit.sim
../script/test.sh -f lite/table/table_len.sim
../script/test.sh -f lite/table/column_num.sim
../script/test.sh -f lite/table/column2.sim
../script/test.sh -f lite/table/column_name.sim
../script/test.sh -f lite/table/column_value.sim
../script/test.sh -f lite/table/describe.sim
../script/test.sh -f lite/table/date.sim
../script/test.sh -f lite/table/bigint.sim
../script/test.sh -f lite/table/binary.sim
../script/test.sh -f lite/table/bool.sim
../script/test.sh -f lite/table/double.sim
../script/test.sh -f lite/table/float.sim
../script/test.sh -f lite/table/int.sim
../script/test.sh -f lite/table/smallint.sim
../script/test.sh -f lite/table/tinyint.sim
../script/test.sh -f lite/table/db.table.sim
../script/test.sh -f lite/table/delete_reuse1.sim
../script/test.sh -f lite/table/delete_reuse2.sim
../script/test.sh -f lite/table/delete_writing.sim

../script/test.sh -f lite/tag/filter.sim
../script/test.sh -f lite/tag/column.sim
../script/test.sh -f lite/tag/bool.sim
../script/test.sh -f lite/tag/smallint.sim
../script/test.sh -f lite/tag/tinyint.sim
../script/test.sh -f lite/tag/int.sim
../script/test.sh -f lite/tag/bigint.sim
../script/test.sh -f lite/tag/float.sim
../script/test.sh -f lite/tag/double.sim
../script/test.sh -f lite/tag/binary.sim
../script/test.sh -f lite/tag/bool_int.sim
../script/test.sh -f lite/tag/bool_binary.sim
../script/test.sh -f lite/tag/int_float.sim
../script/test.sh -f lite/tag/int_binary.sim
../script/test.sh -f lite/tag/binary_binary.sim
../script/test.sh -f lite/tag/3.sim
../script/test.sh -f lite/tag/4.sim
../script/test.sh -f lite/tag/5.sim
../script/test.sh -f lite/tag/6.sim
../script/test.sh -f lite/tag/create.sim
../script/test.sh -f lite/tag/delete.sim
../script/test.sh -f lite/tag/change.sim
../script/test.sh -f lite/tag/set.sim
../script/test.sh -f lite/tag/add.sim
../script/test.sh -f lite/tag/commit.sim

../script/test.sh -f lite/vector/single.sim
../script/test.sh -f lite/vector/multi.sim
../script/test.sh -f lite/vector/table_query.sim
../script/test.sh -f lite/vector/table_time.sim
../script/test.sh -f lite/vector/table_field.sim
../script/test.sh -f lite/vector/table_mix.sim
../script/test.sh -f lite/vector/metrics_query.sim
../script/test.sh -f lite/vector/metrics_tag.sim
../script/test.sh -f lite/vector/metrics_time.sim
../script/test.sh -f lite/vector/metrics_field.sim
../script/test.sh -f lite/vector/metrics_mix.sim


../script/test.sh -f cluster/account/account_create.sim
../script/test.sh -f cluster/account/account_len.sim
../script/test.sh -f cluster/account/pass_alter.sim
../script/test.sh -f cluster/account/pass_len.sim
../script/test.sh -f cluster/account/authority.sim
../script/test.sh -f cluster/account/account_delete.sim
../script/test.sh -f cluster/account/user_create.sim
../script/test.sh -f cluster/account/user_len.sim
../script/test.sh -f cluster/account/monitor.sim

../script/test.sh -f cluster/big/tcp.sim

../script/test.sh -f cluster/cluster/balance1.sim
../script/test.sh -f cluster/cluster/balance2.sim
../script/test.sh -f cluster/cluster/balance3.sim
../script/test.sh -f cluster/cluster/balance1_bug.sim
../script/test.sh -f cluster/cluster/balance1_single.sim

../script/test.sh -f cluster/column/replica3.sim

../script/test.sh -f cluster/db/commit.sim
../script/test.sh -f cluster/db/delete.sim
../script/test.sh -f cluster/db/delete_part.sim
../script/test.sh -f cluster/db/replica_add12.sim
../script/test.sh -f cluster/db/replica_add13.sim
../script/test.sh -f cluster/db/replica_add23.sim
../script/test.sh -f cluster/db/replica_part.sim
../script/test.sh -f cluster/db/replica_reduce21.sim
../script/test.sh -f cluster/db/replica_reduce32.sim
../script/test.sh -f cluster/db/replica_reduce31.sim

../script/test.sh -f cluster/dnode/balance1.sim
../script/test.sh -f cluster/dnode/balance2.sim
../script/test.sh -f cluster/dnode/balance3.sim
../script/test.sh -f cluster/dnode/balancex.sim
../script/test.sh -f cluster/dnode/offline1.sim
../script/test.sh -f cluster/dnode/offline2.sim
../script/test.sh -f cluster/dnode/remove1.sim
../script/test.sh -f cluster/dnode/remove2.sim
../script/test.sh -f cluster/dnode/vnode_clean.sim

../script/test.sh -f cluster/dnode/balance1.sim
../script/test.sh -f cluster/dnode/balance2.sim
../script/test.sh -f cluster/dnode/balance3.sim
../script/test.sh -f cluster/dnode/balancex.sim
../script/test.sh -f cluster/dnode/offline1.sim
../script/test.sh -f cluster/dnode/offline2.sim
../script/test.sh -f cluster/dnode/remove1.sim
../script/test.sh -f cluster/dnode/remove2.sim
../script/test.sh -f cluster/dnode/vnode_clean.sim

../script/test.sh -f cluster/http/admin.sim

../script/test.sh -f cluster/import/replica2.sim
../script/test.sh -f cluster/import/replica3.sim

../script/test.sh -f cluster/metrics/dnode2.sim
../script/test.sh -f cluster/metrics/dnode2_stop.sim
../script/test.sh -f cluster/metrics/dnode3.sim
../script/test.sh -f cluster/metrics/replica2_dnode4.sim
../script/test.sh -f cluster/metrics/replica2_vnode3.sim
../script/test.sh -f cluster/metrics/replica3_dnode6.sim
../script/test.sh -f cluster/metrics/replica3_vnode3.sim

../script/test.sh -f cluster/mnode/drop.sim
../script/test.sh -f cluster/mnode/mgmt22.sim
../script/test.sh -f cluster/mnode/mgmt23.sim
../script/test.sh -f cluster/mnode/mgmt24.sim
../script/test.sh -f cluster/mnode/mgmt25.sim
../script/test.sh -f cluster/mnode/mgmt26.sim
../script/test.sh -f cluster/mnode/mgmt33.sim
../script/test.sh -f cluster/mnode/mgmt34.sim
../script/test.sh -f cluster/mnode/mgmtr1.sim
../script/test.sh -f cluster/mnode/mgmtr2.sim
../script/test.sh -f cluster/mnode/reuse.sim
../script/test.sh -f cluster/mnode/secondIp.sim
          
../script/test.sh -f cluster/stream/metrics_balance.sim
../script/test.sh -f cluster/stream/metrics_replica1_dnode2.sim
../script/test.sh -f cluster/stream/metrics_replica2_dnode2.sim
../script/test.sh -f cluster/stream/metrics_replica2_dnode2_vnoden.sim
../script/test.sh -f cluster/stream/metrics_replica2_dnode3.sim
../script/test.sh -f cluster/stream/metrics_replica3_dnode4.sim
../script/test.sh -f cluster/stream/metrics_vnode_stop.sim
../script/test.sh -f cluster/stream/table_balance.sim
../script/test.sh -f cluster/stream/table_move.sim
../script/test.sh -f cluster/stream/table_replica1_dnode2.sim
../script/test.sh -f cluster/stream/table_replica2_dnode2.sim
../script/test.sh -f cluster/stream/table_replica2_dnode2_vnoden.sim
../script/test.sh -f cluster/stream/table_replica2_dnode3.sim
../script/test.sh -f cluster/stream/table_replica3_dnode4.sim
../script/test.sh -f cluster/stream/table_vnode_stop.sim

../script/test.sh -f cluster/table/delete_part.sim

../script/test.sh -f cluster/vnode/commit.sim
../script/test.sh -f cluster/vnode/many.sim
../script/test.sh -f cluster/vnode/replica2_basic.sim
../script/test.sh -f cluster/vnode/replica2_basic2.sim
../script/test.sh -f cluster/vnode/replica2_repeat.sim
../script/test.sh -f cluster/vnode/replica3_basic.sim
../script/test.sh -f cluster/vnode/replica3_repeat.sim
