<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.tdengine.taosd</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/taosd</string>
    </array>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>Disabled</key>
    <false/>
    <key>RunAtLoad</key>
    <false/>
    <key>LaunchOnlyOnce</key>
    <false/>
    <key>SessionCreate</key>
    <true/>
    <key>ExitTimeOut</key>
    <integer>600</integer>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
        <key>AfterInitialDemand</key>
        <true/>
    </dict>
    <key>Program</key>
    <string>/usr/local/bin/taosd</string>
</dict>
</plist>