VERSION="3.3.2.*"
VERSION_LIST=3.3.5.*,3.3.6.*
EXCLUDE_IP="192.168.1.10"
SERVER_IP="192.168.1.11"
HTTP_SERV_IP="192.168.1.12"
HTTP_SERV_PORT=8080
FEISHU_MSG_URL="https://open.feishu.cn/open-apis/bot/v2/hook/*******"
OWNER="Jayden Jia"
