// @use 'taos-ui/styles/reset';
@use 'taos-ui/styles/transition';
@use 'taos-ui/styles/index' as *;
@use 'taos-ui/styles/tip' as *;
@use './variables.scss' as *;

html {
  font-size: 16px;
}

@media screen and (width <=1000px) {
  html {
    font-size: calc(100vmin / 600);
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Amazon Ember', 'Helvetica Neue', Roboto, Arial, sans-serif !important;
  font-size: 14px;
  color: #16191f;
}

pre,
code {
  font-family: 'IBM Plex Mono', 'IBM Plex Sans', Menlo, Monaco, Consolas, monospace;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.el-table thead th {
  font-weight: 500;
}

#app {
  width: 100%;
  height: 100vh;
}

.primary-color {
  color: $color-primary;
}

.success-color {
  color: $color-success;
}

.danger-color {
  color: $color-danger;
}

.warning-color {
  color: $color-warning;
}

.info-color {
  color: $color-info;
}

a {
  color: $color-primary;
}

/* stylelint-disable-next-line selector-class-pattern */
.error-text {
  padding-bottom: 5px;
  margin: 0;
  font-size: 14px;
  color: #ff4949;
  text-align: left;
}

.custom-divider {
  display: block;
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background-color: #d9dde4;
}

.big-btn {
  padding: 6px 10px;
  font-size: 18px;
}

.medium-btn {
  padding: 6px 10px;
  font-size: 14px;
}

.mini-btn {
  padding: 4px 8px;
  font-size: 12px;
}

.box-table {
  margin-top: 10px;
}

.image-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.td-form-item {
  display: flex;
  align-items: center;
  padding: 5px 0;
  margin-right: 10px;
  line-height: 20px;

  &__label {
    flex-shrink: 0;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #4d6992;
  }

  &__value {
    flex: 1;
    font-size: 14px;
  }
}

@mixin content-padding {
  padding: 20px 30px;
}

.flex1 {
  flex: 1;
}

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.router-link-exact-active,
.router-link-active {
  color: $color-primary;
}

.w100 {
  width: 100%;
}

// 仅展示的pre
.pre-show {
  padding: 16px;
  overflow: auto;
  font-family: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace;
  font-size: 85%;
  line-height: 1.45;
  word-wrap: normal;
  background-color: #f6f8fa;
  border-radius: 6px;

  &>code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
    background-color: transparent;
    border: 0;
  }
}

.big-button {
  padding: 6px 10px;
  font-size: 14px;
}

.btn-disabled {
  color: #c0c4cc;
  cursor: not-allowed;
}

.tip-common {
  padding: 12px 16px;
  margin: 10px 0;
  font-size: 16px;
  line-height: 20px;
  border-left-style: solid;
  border-left-width: 5px;
  border-radius: 4px;
}

.primary-tip {
  @extend .tip-common;

  color: #333;
  background-color: #ecf8ff;
  border-left-color: #50bfff;
}

.warning-tip {
  @extend .tip-common;

  color: $color-danger;
  background-color: #fff6f7;
  border-left-color: #fe6c6f;
}

.success-tip {
  @extend .tip-common;

  color: #333;
  background-color: rgb(254 236 196);
  border-left-color: $color-success;
}

.default-tip {
  margin: 10px 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.mt10 {
  margin-top: 20px;
}

.mt20 {
  margin-top: 20px;
}

.mr20 {
  margin-right: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml20 {
  margin-left: 20px;
}

.ml15 {
  margin-left: 15px;
}

.hidden-required {
  .el-form-item__label {
    display: flex;

    &::before {
      margin-right: 4px;
      color: red;
      visibility: hidden;
      content: '*';
    }
  }
}

.docker-tip {
  color: #e6a23c;
}

.el-select__wrapper.is-disabled .el-select__selected-item {
  color: var(--el-text-color-regular);
  -webkit-text-fill-color: var(--el-text-color-regular);
}

.el-input.is-disabled .el-input__inner {
  color: var(--el-text-color-regular);
  -webkit-text-fill-color: var(--el-text-color-regular);
}