<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.taosdata.tdengine.taosd</string>
  <key>Program</key>
  <string>/usr/local/bin/taosd</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/taosd</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>SessionCreate</key>
	<true/>
  <key>StandardOutPath</key>
	<string>/var/log/tdengine.log</string>
</dict>
</plist>