pandas==1.5.3 ; python_version <= "3.11"
pandas==2.2.0 ; python_version >= "3.12"
# install waitress on windows platform, since the gunicorn is not available for windows
waitress==3.0.0; sys_platform == "win32"
scipy==1.15.0
wheel==0.35.0
scikit-learn==1.5.2
outlier-utils==0.0.5
statsmodels==0.14.4
pyculiarity==0.0.7
Cython==3.0.11
pmdarima==2.0.4
blinker==1.9.0
Flask==3.0.3
matplotlib==3.9.2
gunicorn==23.0.0
--only-binary h5py
h5py==3.11.0  # 或 ，2.10.0
keras==3.9.0
taospy
cmdstanpy==1.2.0
fastdtw==0.3.4
prophet==1.1.7
numpy==1.26.4
xlsxwriter==3.2.1
