<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="UpdateInterval" value="5000" />
    <add key="PISystemName" value="WIN-2OA23UM12TN" />
    <add key="PIServerName" value="WIN-2OA23UM12TN" />
  </appSettings>
</configuration>