[Unit]
Description=taosX - Data Replication and Streaming Data Integration Toolset.
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=DATABASE_URL=/var/lib/taos/taosx/taosx.db
EnvironmentFile=-/etc/default/taosx
ExecStart=/usr/bin/taosx serve
Restart=always
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TimeoutStartSec=0
StartLimitBurst=3
StartLimitInterval=60s
StandardOutput=null

[Install]
WantedBy=multi-user.target
