[Unit]
Description=taosX - Data Replication and Streaming Data Integration Toolset.
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/taosx
ExecStart=/usr/bin/taosx serve
Restart=always
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TimeoutStartSec=0
StartLimitBurst=10
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target
