[Unit]
Description=taosX - Data Replication and Streaming Data Integration Toolset.
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=DATABASE_URL=/var/lib/taosx/taosx.db
EnvironmentFile=-/etc/default/taosx
ExecStart=/usr/bin/taosx serve -v
Restart=always

[Install]
WantedBy=multi-user.target
