testCases:
    - scenarioId: "A1"
      classfication: "Summary"
      description: ""
      sql: |
        create stream db1.stm_a1 
                sliding(1h) 
                from db1.readings 
                stream_options(fill_history_first) 
                into db1.res_a1 
                as select _tcurrent_ts ts, avg(fuel_consumption)
                        from db1.readings 
                        where _c0 >= _tprev_ts and _c0 < _tcurrent_ts;

    - scenarioId: "A2"
      classfication: "Summary"
      description: ""
      sql: |
        create stream db1.stm_a2 
               sliding(1m) 
               from db1.readings 
               stream_options(fill_history_first) 
               into db1.res_a2 
               as 
                  select _tcurrent_ts ts, count(*), avg(fuel_consumption) 
                      from (  
                            select fuel_consumption, last(grade) cur_grade 
                            from db1.readings 
                            where _c0 >= _tprev_ts and _c0 <= _tcurrent_ts partition by tbname) 
                      where cur_grade > 70;

    - scenarioId: "A3"
      classfication: "Summary"
      description: ""
      sql: |
        create stream db1.stm_a3 
            sliding(1m) 
            from db1.readings 
            stream_options(fill_history_first) 
            into db1.res_a3 
            as 
              select _tcurrent_ts cur_ts, count(*), avg(avg_fuel) 
                  from (
                        select last(elevation) last_elev, avg(fuel_consumption) avg_fuel 
                        from db1.readings 
                          where _c0 >= _tprev_ts and _c0 < _tcurrent_ts 
                          partition by tbname 
                      ) 
                  where last_elev > 1000;

    - scenarioId: "A4"
      classfication: "Summary"
      description: ""
      sql: |
        create stream db1.stm_a4 
            sliding(10m) 
            from db1.readings 
            stream_options(fill_history_first) 
            into db1.res_a4 
            as 
              select _tcurrent_ts, sum(load) 
                from (
                      select last(current_load) load 
                        from db2.diagnostics 
                        where _c0 >= _tprev_ts and _c0 <= _tcurrent_ts 
                        partition by tbname
                     )

    - scenarioId: "A5"
      classfication: "Summary"
      description: ""
      sql: |
        create stream db1.stm_a5 
            sliding(10m) 
            from db1.readings 
            stream_options(fill_history_first) 
            into db1.res_a5 (ts, last_heading primary key, num) 
            as 
              select _tcurrent_ts, last_heading, count(*) 
                from (
                      select case when last(heading) < 45 or last(heading) >= 315   then 0 
                                  when last(heading) >= 45 and last(heading) < 135  then 90 
                                  when last(heading) >= 135 and last(heading) < 225 then 180 
                                  else 270 end last_heading 
                          from db1.readings 
                          where _c0 >= _tprev_ts and _c0 <= _tcurrent_ts 
                          partition by tbname
                     ) 
                partition by last_heading;

    - scenarioId: "A6"
      classfication: "Summary"
      description: ""
      sql: |
        create stream db1.stm_a6 
            sliding(1h) 
            from db1.readings 
            stream_options(fill_history_first) 
            into db1.res_a6 
            as 
              select _tcurrent_ts, count(*), avg(last_velocity) 
                  from (
                            select _tprev_ts ts, last(current_load) load, load_capacity, name 
                              from db2.diagnostics 
                              where _c0 >= _tprev_ts and _c0 <= _tcurrent_ts 
                              partition by tbname
                        ) a 
                   join (
                            select _tprev_ts ts, last(velocity) last_velocity, name 
                              from db1.readings where _c0 >= _tprev_ts and _c0 <= _tcurrent_ts 
                              partition by tbname
                       ) b 
                  on a.ts = b.ts and a.load < 0.1 * a.load_capacity and a.name = b.name;

    - scenarioId: "A7"
      classfication: "Summary"
      description: ""
      sql: |
        create stream db1.stm_a7
            interval(1d) 
            sliding(1d) 
            from db1.readings 
            stream_options(fill_history_first) 
            into db1.res_a7 
            as 
              select _twstart, avg(fuel_consumption) 
                from db1.readings 
                where _c0 >= _twstart and _c0 < _twend;

    - scenarioId: "A8"
      classfication: "Summary"
      description: ""
      sql: |
        create stream db2.stm_a8
            interval(1d) 
            sliding(1d) 
            from db2.diagnostics 
            stream_options(fill_history_first) 
            into db2.res_a8 
            as 
              select _twstart, sum(tduration)/3600000 
                 from (
                        select _wduration tduration, count(*) 
                          from db2.diagnostics 
                          where _c0 >= _twstart and _c0 < _twend 
                          partition by tbname 
                          event_window start with status > 0 end with status = 0
                      )

    - scenarioId: "A9"
      classfication: "Summary"
      description: ""
      sql: |
        create stream db2.stm_a9 
            interval(1d) 
            sliding(1d) 
            from db2.diagnostics 
            stream_options(fill_history_first) 
            into db2.res_a9
            as 
              select _twstart, count(*) 
                from (
                       select sum(tduration) sduration 
                       from (
                              select tbname name, _wduration tduration, count(*) 
                                from db2.diagnostics 
                                where _c0 >= _twstart and _c0 < _twend 
                                partition by tbname 
                                event_window start with status > 0 end with status = 0
                            ) 
                       partition by name
                     ) 
                where sduration > 12 * 3600000; 

    - scenarioId: "F1"
      classfication: "Fleet"
      description: ""
      sql: |
        create stream db1.stm_f1 
            period(1m) 
            from db1.readings partition by fleet 
            into db1.res_f1 
            as 
              select cast(_tlocaltime/1000000 as timestamp), count(*) 
                from (
                      select last(velocity) last_velocity, fleet 
                        from db1.readings 
                        where fleet = %%1 
                        partition by tbname
                      ) 
                where last_velocity > 0;

    - scenarioId: "F2"
      classfication: "Fleet"
      description: ""
      sql: |
        create stream db2.stm_f2 
            period(1m) 
            from db2.diagnostics partition by fleet 
            into db2.res_f2 
            as 
              select cast(_tlocaltime/1000000 as timestamp), count(*) 
                from (
                      select last(status) last_status, fleet 
                        from db2.diagnostics 
                        where fleet = %%1 
                        partition by tbname
                     ) 
                where last_status > 0;

    - scenarioId: "F3"
      classfication: "Fleet"
      description: ""
      sql: |
        create stream db1.stm_f3 
        interval(1h) 
        sliding(1h) 
        from db1.readings partition by fleet 
        stream_options(fill_history_first) 
        into db1.res_f3 
        as 
          select _twend, avg(fuel_consumption) 
            from db1.readings 
            where fleet = %%1 and _c0 >= _twstart and _c0 < _twend;

    - scenarioId: "F4"
      classfication: "Fleet"
      description: ""
      sql: |
         create stream db1.stm_f4 
         interval(1d) 
         sliding(1d) 
         from db1.readings  
         stream_options(fill_history_first) 
         into db1.res_f4 (ts, fleet primary key, efficiency) 
         as 
          select _twstart, a.fleet, avg_load/avg_fuel efficiency 
            from (
                  select _twstart ts, avg(fuel_consumption) avg_fuel, fleet 
                    from db1.readings 
                    where _c0 >= _twstart and _c0 < _twend partition by fleet
                  ) a 
            join (
                  select _twstart ts, avg(current_load) avg_load, fleet 
                    from db2.diagnostics where _c0 >= _twstart and _c0 < _twend 
                    partition by fleet
                  ) b 
            on a.ts = b.ts and a.fleet = b.fleet;


    - scenarioId: "F5"
      classfication: "Fleet"
      description: ""
      sql: |
        create stream db2.stm_f5 
        interval(1d) 
        sliding(1d) 
        from db2.diagnostics 
        partition by fleet 
        stream_options(fill_history_first) 
        into db2.res_f5 
        as 
          select _twstart, sum(tduration)/3600000 
          from (
                select _wduration tduration, count(*) 
                  from db2.diagnostics 
                  where fleet = %%1 and _c0 >= _twstart and _c0 < _twend 
                  partition by tbname 
                  event_window start with status > 0 end with status = 0
               )

    - scenarioId: "F6"
      classfication: "Fleet"
      description: ""
      sql: |
        create stream db2.stm_f6 
            sliding(1h) 
            from db2.diagnostics partition by fleet 
            stream_options(fill_history_first) 
            into db2.res_f6 
            as 
              select _tcurrent_ts, sum(cur_load)/sum(load_capacity) 
                from (
                        select fleet, last(current_load) cur_load, load_capacity 
                        from db2.diagnostics 
                          where fleet = %%1 and _c0 >= _tprev_ts and _c0 <= _tcurrent_ts 
                          partition by tbname 
                      )

    - scenarioId: "F7"
      classfication: "Fleet"
      description: ""
      sql: |
        create stream db2.stm_f7 
            sliding(1h) 
            from db2.diagnostics partition by fleet 
            stream_options(fill_history_first) 
            into db2.res_f7 
            as 
              select _tcurrent_ts, sum(breakdown)/count(*) 
                from (
                       select fleet, case when last(status) > 0 then 1 else 0 end breakdown 
                       from db2.diagnostics 
                          where fleet = %%1 and _c0 >= _tprev_ts and _c0 <= _tcurrent_ts 
                          partition by tbname
                     )

    - scenarioId: "F8"
      classfication: "Fleet"
      description: ""
      sql: |
        create stream db1.stm_f8 
        interval(1d) 
        sliding(1d) 
        from db1.readings partition by fleet 
        stream_options(fill_history_first) 
        into db1.res_f8 (ts, name primary key, top_fuel) 
        as 
          select _twstart ts, name, top(avg_fuel, 5) top_fuel 
            from (
                  select name, fleet, avg(fuel_consumption) avg_fuel 
                    from db1.readings where fleet = %%1 and _c0 >= _twstart and _c0 < _twend 
                    partition by tbname
                 )

    - scenarioId: "T1"
      classfication: "Vehicle"
      description: ""
      sql: |
        create stream db1.stm_t1 
            interval(1h) 
            sliding(1h) 
            from db1.readings partition by tbname 
            stream_options(fill_history_first) 
            into db1.res_t1 
            as 
              select _twstart ts, avg(fuel_consumption) avg_fuel 
                from %%tbname 
                where _c0 >= _twstart and _c0 < _twend;

    - scenarioId: "T2"
      classfication: "Vehicle"
      description: ""
      sql: |
        create stream db1.stm_t2 
            interval(1h) 
            sliding(1h) 
            from db1.readings partition by tbname 
            stream_options(fill_history_first) 
            into db1.res_t2 
            as 
              select _twstart ts, sum(stime) stop_time 
                from (
                      select _wduration stime, count(*) 
                        from %%tbname 
                        where _c0 >= _twstart and _c0 < _twend 
                        event_window start with velocity = 0 end with velocity > 0
                     )

    - scenarioId: "T3"
      classfication: "Vehicle"
      description: ""
      sql: |
        create stream db1.stm_t3 
            state_window (
                case when grade <= 30 then 0 
                     when grade <= 70 then 1 
                     else 2 end ) 
            from db1.readings partition by tbname 
            stream_options(fill_history_first) 
            into db1.res_t3 
            as 
              select _twstart ts, avg(fuel_consumption), avg(velocity) 
                from  %%tbname 
                where _c0 >= _twstart and _c0 <= _twend;

    - scenarioId: "T4"
      classfication: "Vehicle"
      description: ""
      sql: |
        create stream db1.stm_t4 
            state_window(
                          case when velocity <= 30 then 0 
                               when velocity <= 70 then 1 
                          else 2 end
                        ) 
            from db1.readings 
            partition by tbname 
            stream_options(fill_history_first) 
            into db1.res_t4 
            as 
              select _twstart ts, avg(fuel_consumption) 
                from %%tbname 
                where _c0 >= _twstart and _c0 <= _twend;

    - scenarioId: "T5"
      classfication: "Vehicle"
      description: ""
      sql: |
        create stream db2.stm_t5 
          state_window(
                        case when status > 0 then 1 
                        else 0 end
                      ) 
          from db2.diagnostics partition by tbname 
          stream_options(fill_history_first) 
          into db2.res_t5 
          as 
            select _twstart, _twduration, avg(current_load) 
              from %%tbname 
              where _c0 >= _twstart and _c0 <= _twend;

    - scenarioId: "T6"
      classfication: "Vehicle"
      description: ""
      sql: |
        create stream db2.stm_t6 
            state_window(
                          case when fuel_state < 0.2 * fuel_capacity 
                          then 1 else 0 end
                         ) 
            from db2.diagnostics partition by tbname 
            stream_options(fill_history_first) 
            into db2.res_t6 
            as 
               select  _twstart, _twduration, count(*) 
                  from %%tbname 
                  where _c0 >= _twstart and _c0 <= _twend;

    - scenarioId: "T7"
      classfication: "Vehicle"
      description: ""
      sql: |
        create stream db1.stm_t7 
            state_window(
                          case when fuel_consumption > 2 * nominal_fuel_consumption then 1 
                          else 0 end
                        ) 
            from db1.readings partition by tbname, name 
            stream_options(fill_history_first) 
            into db1.res_t7 
            as 
              select a.ts, a.wduration, a.avg_velocity, a.avg_grade, a.avg_elevation, b.avg_load 
                from (
                      select  _twstart ts, _twduration wduration, avg(velocity) avg_velocity, avg(grade) avg_grade, avg(elevation) avg_elevation 
                        from %%tbname 
                        where _c0 >= _twstart and _c0 <= _twend
                     ) a 
                join (
                       select _twstart ts, avg(current_load) avg_load 
                          from db2.diagnostics 
                          where name = %%2 and _c0 >= _twstart and _c0 <= _twend
                     ) b 
                on a.ts = b.ts;

    - scenarioId: "T8"
      classfication: "Vehicle"
      description: ""
      sql: |
        create stream db1.stm_t8 
            event_window(
                         start with velocity > 70 and grade > 70 
                         end   with velocity <= 70 or grade <= 70
                        ) 
            from db1.readings partition by tbname 
            stream_options(fill_history_first) 
            into db1.res_t8 
            as 
              select _twstart, _twduration, avg(fuel_consumption) 
                  from %%tbname 
                  where _c0 >= _twstart and _c0 <= _twend;

    - scenarioId: "T9"
      classfication: "Vehicle"
      description: ""
      sql: |
        create stream db2.stm_t9 
            state_window(
                          case when fuel_state = 1 then 1 
                          else 0 end 
                        ) 
            from db2.diagnostics partition by tbname 
            stream_options(fill_history_first) 
            into db2.res_t9 
            as 
              select _twstart, first(current_load) 
                from %%tbname 
                where _c0 >= _twstart and _c0 <= _twend;

    - scenarioId: "U1"
      classfication: "UserCase"
      description: ""
      sql: |
        create stream metron_dmp.alarm_stream 
                state_window (
                              cast(
                                case when m6001 is null then 0 else m6001 end +
                                case when m6002 is null then 0 else m6002 end +
                                case when m6003 is null then 0 else m6003 end
                                as int)
                            )
                from  metron_dmp.alarm 
                partition by tbname, line, workshop, factory 
                stream_options(event_type(window_open)) 
                into metron_dmp.result_alarm
                output_subtable(tbname)
                TAGS(
                      line     varchar(20) as line,
                      workshop varchar(20) as workshop, 
                      factory varchar(20) as factory
                    )
                as
                  select _twstart as ts, 
                        last_row(m6001) as m6001, 
                        last_row(m6002) as m6002, 
                        last_row(m6003) as m6003
                    from %%tbname where ts >= _twstart and ts < _twend;