testCases:
    - scenarioId: "A1"
      classfication: "Summary"
      description: ""
      sql: |
        create stream db1.stm_a1 
                sliding(1h) 
                from db1.readings 
                stream_options(fill_history_first) 
                into db1.res_a1 
                as select _tcurrent_ts ts, avg(fuel_consumption)
                        from db1.readings 
                        where _c0 >= _tprev_ts and _c0 < _tcurrent_ts;

    - scenarioId: "A2"
      classfication: "Summary"
      description: ""
      sql: |
        create stream db1.stm_a2 
               sliding(1m) 
               from db1.readings 
               stream_options(fill_history_first) 
               into db1.res_a2 
               as 
                  select _tcurrent_ts ts, count(*), avg(fuel_consumption) 
                      from (  
                            select fuel_consumption, last(grade) cur_grade 
                            from db1.readings 
                            where _c0 >= _tprev_ts and _c0 <= _tcurrent_ts partition by tbname) 
                      where cur_grade > 70;