testCases:
    - scenarioId: "A8"
      querySql: select count(*) from db2.diagnostics
      dataRows: 9988779
      verifySql: select count(*) from db2.res_a8
      expectRows: 16

    - scenarioId: "A9"
      querySql: select count(*) from db2.diagnostics
      dataRows: 9988779
      verifySql: select count(*) from db2.res_a9
      expectRows: 16

    - scenarioId: "F6"
      querySql: select count(*) from db2.diagnostics
      dataRows: 9988779
      verifySql: select count(*) from db2.res_f6
      expectRows: 16

    - scenarioId: "F7"
      querySql: select count(*) from db2.diagnostics
      dataRows: 9988779
      verifySql: select count(*) from db2.res_f7
      expectRows: 20