testCases:
    - scenarioId: "A1"
      concurrency: 1
      expectRows: 5
      verifySql: select count(*) from db1.res_a1 

    - scenarioId: "A2"
      concurrency: 1
      expectRows: 6684
      verifySql: select count(*) from db1.res_a2