testCases:
    - scenarioId: "A1"
      concurrency: 1
      querySql: select count(*) from db1.readings
      dataRows: 540
      verifySql: select count(*) from db1.res_a1
      expectRows: 5

    - scenarioId: "A2"
      concurrency: 1
      querySql: select count(*) from db1.readings
      dataRows: 540
      verifySql: select count(*) from db1.res_a2
      expectRows: 6684

    - scenarioId: "A3"
      concurrency: 1
      querySql: select count(*) from db1.readings
      dataRows: 540
      verifySql: select count(*) from db1.res_a3
      expectRows: 6684