name: taosKeeper govulncheck
on:
  schedule:
    - cron: '0 0 * * *'
  pull_request:
    paths:
      - "tools/keeper/go.mod"
      - ".github/workflows/taoskeeper*.yml"
  push:
    paths:
      - "tools/keeper/go.mod"
      - ".github/workflows/taoskeeper*.yml"

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: 'stable'

      - name: Install govulncheck
        run: go install golang.org/x/vuln/cmd/govulncheck@latest

      - name: Run vulnerability scan
        working-directory: tools/keeper
        run: govulncheck ./...