name: TDengine Build

on:
  pull_request:
    branches:
      - 'main'
      - '3.0'
      - '3.1'
      - 'enh/cmake-TD-33848'

    paths-ignore:
      - 'docs/**'
      - 'packaging/**'
      - 'tests/**'
      - '*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build and test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-20.04
          - ubuntu-22.04
          - ubuntu-24.04
          - macos-14
          - macos-15
          - windows-2019

          
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Cache Go modules
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
    
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.18

      - name: Install dependencies on Linux
        if: runner.os == 'Linux'
        run: |
          sudo apt update -y
          sudo apt install -y \
            build-essential \
            cmake \
            gawk \
            libgeos-dev \
            libjansson-dev \
            liblzma-dev \
            libsnappy-dev \
            libssl-dev \
            libz-dev \
            pkg-config \
            zlib1g

      - name: Cache Homebrew on macOS
        if: runner.os == 'macOS'
        uses: actions/cache@v3
        with:
          path: /usr/local/Homebrew
          key: ${{ runner.os }}-brew-${{ hashFiles('**/Brewfile') }}
          restore-keys: |
            ${{ runner.os }}-brew-

      - name: Install dependencies on macOS
        if: runner.os == 'macOS'
        run: |
          brew update
          brew install \
            argp-standalone \
            gawk \
            gflags \
            geos \
            jansson \
            openssl \
            pkg-config \
            snappy \
            zlib

      - name: Install dependencies on Windows
        if: runner.os == 'Windows'
        run: |
          choco install jom --yes

      - name: Build and install TDengine on Linux and macOS
        if: runner.os != 'Windows'
        run: |
          mkdir debug && cd debug
          cmake .. -DBUILD_TOOLS=true \
            -DBUILD_KEEPER=true \
            -DBUILD_HTTP=false \
            -DBUILD_TEST=true \
            -DBUILD_DEPENDENCY_TESTS=false
          make -j 4
          sudo make install
          which taosd
          which taosadapter
          which taoskeeper

      - name: Build and install TDengine on Windows
        if: runner.os == 'Windows'
        shell: cmd
        run: |
          call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x64
          set CL=/MP8
          mkdir debug && cd debug
          cmake .. -G "NMake Makefiles JOM" -DBUILD_TOOLS=true -DBUILD_HTTP=false -DBUILD_TEST=true -DBUILD_DEPENDENCY_TESTS=false -DBUILD_KEEPER=true
          jom -j 6
          jom install
          where taosd
          where taosadapter
          where taoskeeper

      - name: Start taosd
        run: |
          cp /etc/taos/taos.cfg ./
          sudo echo "supportVnodes 256" >> taos.cfg
          nohup sudo taosd -c taos.cfg &

      - name: Start taosadapter
        run: nohup sudo taosadapter &

      - name: Run tests with taosBenchmark
        run: |
          taosBenchmark -t 10 -n 10 -y 
          taos -s "select count(*) from test.meters"

      - name: Clean up
        if: always()
        run: |
          if pgrep taosd; then sudo pkill taosd; fi
          if pgrep taosadapter; then sudo pkill taosadapter; fi
