name: TDengine Doc Build

on:
  pull_request:
    branches:
      - 'main'
      - '3.0'
      - '3.3.6'
    paths:
      - 'docs/**'

env:
  DOC_WKC: '/root/doc_ci_work'
  ZH_DOC_REPO: 'docs.taosdata.com'
  EN_DOC_REPO: 'docs.tdengine.com'
  TD_REPO: 'TDengine'
  TOOLS_REPO: 'taos-tools'

jobs:
  build-doc:
    runs-on:
      group: CI
      labels: [self-hosted, doc-build]
    steps:
      - name: Get the latest document contents
        run: |
          set -e
          cd ${{ env.DOC_WKC }}/${{ env.TD_REPO }}
          git reset --hard
          git clean -f
          git remote prune origin
          git fetch
          git checkout ${{ github.event.pull_request.base.ref }}
          git pull >/dev/null
          git fetch origin +refs/pull/${{ github.event.pull_request.number }}/merge
          git checkout -qf FETCH_HEAD

      - name: Build the chinese document
        run: |
          cd ${{ env.DOC_WKC }}/${{ env.ZH_DOC_REPO }}
          yarn ass local
          yarn build

      - name: Build the english document
        run: |
          cd ${{ env.DOC_WKC }}/${{ env.EN_DOC_REPO }}
          yarn ass local
          yarn build
